**/node_modules
**/.stack-work
**/.stack-work-devel
**/yesod-devel
**/.git
**/*.hi
**/*.o
**/*.dyn_hi
**/*.dyn_o
**/.DS_Store
**/*.swp
**/*.dump-hi
**/*.hie
**/dist-newstyle
**/public/img
backend/foo
backend/tags
backend/hls.log
