services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    command: redis-server
    volumes:
      - redis-data:/data
  db:
    image: postgres:14.1
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=arkham-horror-backend
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./setup.sql:/docker-entrypoint-initdb.d/create_tables.sql
  web:
    image: "halogenandtoast/arkham-horror:latest"
    build:
      context: .
      args:
        - GHC_VERSION=9.6.2
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/arkham-horror-backend
      - REDIS_CONN=redis://redis:6379
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - ./frontend/public/img:/opt/arkham/src/frontend/dist/img
volumes:
 pgdata:
 redis-data:
