$guardian: #3A6BA0;
$seeker: #B4793B;
$rogue: #265035;
$mystic: #443D72;
$survivor: #6B2F2E;
$neutral: #7B7A72;

$select: #FF00FF;

$card-width: 80px;

$medium-blue: #26283B;
$dark-blue: #16192B;

$spooky-green: #5a6e34;
$spooky-green-light: #6E8640;
